#add{text-align: center; width: 50px; height: 50px; position: absolute; left: 95%; border-radius: 25px;}
#add:hover{background-color: rgba(64, 224, 149, 0.5);}
h1{text-align:center; font-family:cursive;}